@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
    padding-top: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 20px;
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #312e81;
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e27521;
  }
  